{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>We are a Food Delivery Service team.We make it easy for hungry people to find great food from our restaurant partners to either pick it up themself, or have it delivered by one of our delivery partners.</p>
            <p>We are a team focused on results and the smile of our customers. We love simplicity and responsibility in work, we bring the matter to the end.</p>
            <p>Our goal is to make the customer happy and help in the promotion of restaurants. In turn, we monitor the improvement of the site. The main task is a good service. We hope that we will meet your expectations!</p>
        </div>
    </div>
</div>
{% endblock content %}